"###############################
"########## MAPPINGS ###########
"###############################


"remap leader key to ö
let mapleader = "ö"

"map ı to i:
map ı i

"scroll 3 times:
nnoremap <C-e> 3<C-e>
nnoremap <C-y> 3<C-y>

" tab navigation
nnoremap tl gt 
nnoremap th gT

set relativenumber
